.line-background {
  background-image: url(http://res.cloudinary.com/delisauce/image/upload/q_39/v1484180243/line-full.jpg);
  background-size: cover;
}

.seat-background {
  background-image: url(http://res.cloudinary.com/delisauce/image/upload/q_39/v1484180243/restaurant-full.jpg);
  background-size: cover;

}

.concert-background {
  background-image: url(http://res.cloudinary.com/delisauce/image/upload/q_39/v1484180243/concert-full.jpg);
  background-size: cover;

}

.splash-background {
  background-image: url(http://res.cloudinary.com/delisauce/image/upload/c_crop,g_north,h_2304,q_67,w_3456,x_0,y_350/v1484172472/restaurant-empty.jpg);
  background-size: cover;
  background-position: 0% 100%; 
}

// .profile-img {
//   background-image: attr(data);
//   background-size: cover;
// }
//
// url(http://res.cloudinary.com/delisauce/image/upload/c_crop,h_1100,w_1000/v1484780832/Profile/standing_1.jpg);

    //
    // <img src={"http://res.cloudinary.com/delisauce/image/upload/c_crop,h_1100,w_1000/v1484780832/Profile/" + this.props.tasker.profile_img_link} />
