.line-background {
  background-image: url(http://res.cloudinary.com/delisauce/image/upload/q_39/v1484180243/line-full.jpg);
  background-size: cover;
}

.seat-background {
  background-image: url(http://res.cloudinary.com/delisauce/image/upload/q_39/v1484180243/restaurant-full.jpg);
  background-size: cover;

}

.concert-background {
  background-image: url(http://res.cloudinary.com/delisauce/image/upload/q_39/v1484180243/concert-full.jpg);
  background-size: cover;

}

.splash-background {
  background-image: url(http://res.cloudinary.com/delisauce/image/upload/c_scale,h_700,w_1200/v1484172472/restaurant-empty.jpg);
  background-size: cover;
}
