.line-background {
  background-image: url(http://res.cloudinary.com/delisauce/image/upload/q_25/v1487889704/homepage/line-full-6.jpg);
  background-size: cover;
  background-position: 0% 30%;
}

.seat-background {
  background-image: url(http://res.cloudinary.com/delisauce/image/upload/q_25/v1484180215/homepage/restaurant-full.jpg);
  background-size: cover;
  background-position: 0% 100%;
}

.concert-background {
  background-image: url(http://res.cloudinary.com/delisauce/image/upload/q_25/v1487889706/homepage/concert-full-4.jpg);
  background-size: cover;
  background-position: 0% 100%;
}

.splash-background {
  background-image: url(http://res.cloudinary.com/delisauce/image/upload/c_crop,g_north,h_2304,q_67,w_3456,x_0,y_350/v1484172472/restaurant-empty.jpg);
  background-size: cover;
  background-position: 0% 100%;
}

// .profile-img {
//   background-image: attr(data);
//   background-size: cover;
// }
//
// url(http://res.cloudinary.com/delisauce/image/upload/c_crop,h_1100,w_1000/v1484780832/Profile/standing_1.jpg);

    //
    // <img src={"http://res.cloudinary.com/delisauce/image/upload/c_crop,h_1100,w_1000/v1484780832/Profile/" + this.props.tasker.profile_img_link} />
