
.button {
	background-color: $default-button-color;
	border-color: $default-button-border-color;
	color: white;
	font-weight: 400px;
	padding: 7px 9px;
	border-radius: 3px;
	transition: background-color 0.3s;
	font-family: $sans-serif;
	text-transform: uppercase;
	font-size: 11px;
	text-align: center;
}

.button:hover {
	background-color: $default-button-hover-color;
  border-color: $default-button-border-hover-color;
}

a {
	color: blue;
	text-decoration: underline;
}

a:hover {
	color: purple;
}
