//COLORS
$lightest-gray: #F9FAFB;
$light-gray: #e2e2e2;
$gray: #999;
$dark-gray: #6f6f6f;

$lightest-blue: #f0f8fc;
$lighter-blue: #93B0C9;
$light-blue: #6288a5;
$blue: #406B8C;
$dark-blue: #4d7b9f;
$darkest-blue: #265e8b;

$salmon: #DA7F5B;
$salmon-darker: #BB5B35;
$salmon-dark: #933A17;

$secondary: #236D5F;
$secondary-light: #418779;
$secondary-dark: #0E5345;


//TASKER ITEMS
$tasker-skill: $light-blue;
$tasker-border: $light-gray;

$instant-book-button: $salmon-dark;
$instant-book-button-border: #f26c32;

$instant-book-button-hover: #af4d23;
$instant-book-button-border-hover: #af4d23;

//DASHBOARD
  //Header
  $dashboard-header-background: $secondary-light;

  //Tasks
  $task-completed-background: $lighter-blue;
  $task-pending-background: $light-blue;
  $task-booked-background: $blue;

  $task-status-header: $light-gray;
  $task-border: $light-gray;

  $cancel-book-button: $salmon;
  $cancel-book-button-border: $salmon-dark;
  $cancel-book-button-hover: $salmon-darker;
  $cancel-book-button-border-hover: $salmon-darker;




// BOOKING
$booking-header-background: $secondary-light;


//HOMEPAGE
$task-selector-details-background: $light-gray;
$task-selector-book-button: $salmon;
$task-selector-book-button-border: $salmon;
$task-selector-book-button-hover: $salmon-darker;
$task-selector-book-button-border-hover: $salmon-darker;

$nav-link: $salmon;
$nav-link-hover: $salmon-darker;
$guest-login-button-background: $salmon;
$guest-login-button-background-hover: $salmon-darker;


//FILTERS
$filters-border: $light-gray;
$checkbox-background: #EDEFED;
$checkbox-border: #DCE0E0;
$filter-clear-button-border: #484848;
$filters-text-color: #484848;
//BOOKING FORM


//SIGN IN/LOG IN FORM
$form-session-header-background: $salmon;
$form-booking-header-background: $salmon;

//MISC
$default-button-color: $salmon;
$default-button-border-color: $salmon;
$default-button-hover-color: $salmon-darker;
$default-button-border-hover-color: $salmon-darker;

$link-color: $salmon;


  //airbnb date picker
  $date-picker-border: #c4c4c4;
  $form-text-area-border: #c4c4c4;
