//COLORS
$lightest-gray: #F9FAFB;
$light-gray: #e2e2e2;
$gray: #999;
$dark-gray: #6f6f6f;

$lightest-blue: #f0f8fc;
$light-blue: #6288a5;
$blue: #326891;
$dark-blue: #4d7b9f;
$darkest-blue: #265e8b;

$slider-green: #8aed6a;
$green: #47912f;
$darker-green: #23630e;


//TASKER ITEMS
$tasker-skill: $light-blue;
$tasker-border: $light-gray;

$instant-book-button: #f26c32;
$instant-book-button-border: #f26c32;

$instant-book-button-hover: #af4d23;
$instant-book-button-border-hover: #af4d23;

//TASK ITEMS
$task-completed-background: $light-gray;
$task-pending-background: $light-blue;
$task-booked-background: $blue;

$task-status-header: $light-gray;
$task-border: $light-gray;

$cancel-book-button: $blue;
$cancel-book-button-hover: $dark-blue;


//DASHBOARD
$dashboard-header-background: $light-gray;


// BOOKING
$booking-header-background: $light-gray;


//HOMEPAGE
$task-selector-details-background: $light-gray;
$task-selector-book-button: $green;
$task-selector-book-button-border: $green;
$task-selector-book-button-hover: $darker-green;
$task-selector-book-button-border-hover: $darker-green;

$nav-link: $green;
$nav-link-hover: $darker-green;
$guest-login-button-background: $green;
$guest-login-button-background-hover: $darker-green;


//BOOKING FORM


//SIGN IN FORM
