$serif: georgia,"times new roman",times,serif;
$sans-serif: Roboto, Arial, Helvetica, sans-serif;


// HOMEPAGE
$splash-tagline-font-size: 38px;
$task-selector-font-size: 18px;
$task-selector-book-button-font-size: 16px;

//BOOKING
$booking-header-font-size: 24px;


//FILTERS


//SEARCH


// TASKER


// TASK
