html {
  font-family: Proxima, Arial, Helvetica, sans-serif;
}

.top-level-change-this {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  border: solid 1px blue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 100%;
}

.logo {
  border: solid 1px green;
  margin: 10px;
}

.logged-out-nav {
  border: solid 1px green;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logged-out-nav > * {
  margin: 10px;
}

.logged-in-nav {
  border: solid 1px green;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logged-in-nav > * {
  margin: 10px;
}

.homepage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splash {
  width: 100%;
  height: 700px;
  margin-bottom: 50px;
  background-image: url(http://res.cloudinary.com/delisauce/image/upload/c_scale,h_700,w_1200/v1484172472/kr2mdhj5qmg-luke-chesser_eb14sl.jpg);
  background-size: cover;

}

.splash-tagline {
  position: relative;
  display: inline-block;
  left: 130px;
  top: 435px;
  color: white;
  font-weight: bold;
  font-family: $sans-serif;
  font-size: 38px;
  margin: auto 0;
}

.task-selectors {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
}

.task-selectors > div {
  border: solid 1px red;
  margin: 20px;
  width: 25%;
  height: 200px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.task-selector-line {
  background-image: url(http://res.cloudinary.com/delisauce/image/upload/q_39/v1484180243/line-full.jpg);

}

.task-selector-seat {
  background-image: url(http://res.cloudinary.com/delisauce/image/upload/q_39/v1484180243/restaurant-full.jpg);
}

.task-selector-concert {
  background-image: url(http://res.cloudinary.com/delisauce/image/upload/q_39/v1484180243/concert-full.jpg);
}

.session-form {
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $light-gray;
  border: solid 1px red;
  width: 600px;
  height: 400px;
  opacity: .8;
}

.session-form > label {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: blue solid 1px;
}


button {
	background-color: $button-green;
	border-color: $button-green;
	color: white;
	font-weight: bold;
	padding: 7px 9px;
	border-radius: 3px;
	transition: background-color 0.3s;
	font-family: $sans-serif;
	text-transform: uppercase;
	font-size: 11px;
	text-align: center;
}

button:hover {
	background-color: $blue;
  border-color: $darkest-blue;
}
