html {
  font-family: Proxima, Arial, Helvetica, sans-serif;
}

.top-level-change-this {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  // border: solid 1px blue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 100%;
}

.body {
  width: 100%;
  height: 100%;
}

.hero-image {
  height: 30px;
  width: 160px;
  margin: 10px;
  background-image: url(http://res.cloudinary.com/delisauce/image/upload/v1484206007/WB_logo_hgtqai.png);
  background-size: cover;

}

.logged-out-nav {
  // border: solid 1px green;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logged-out-nav > * {
  margin: 10px;
}

.logged-in-nav {
  // border: solid 1px green;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logged-in-nav > * {
  margin: 10px;
}

.homepage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splash {
  width: 100%;
  height: 700px;
  margin-bottom: 20px;
  background-image: url(http://res.cloudinary.com/delisauce/image/upload/c_scale,h_700,w_1200/v1484172472/restaurant-empty.jpg);
  background-size: cover;

}

.splash-tagline {
  position: relative;
  display: inline-block;
  left: 130px;
  top: 435px;
  color: white;
  font-weight: bold;
  font-family: $sans-serif;
  font-size: 38px;
  margin: auto 0;
}

.task-selectors-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.task-selector {
  // border: solid 1px red;
  margin: 10px 0;
  width: 28%;
  height: 300px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  font-weight: bold;
  font-family: $sans-serif;
  font-size: 18px;
  // text-shadow: 1px 0px $button-green;
}

.line-background {
  background-image: url(http://res.cloudinary.com/delisauce/image/upload/q_39/v1484180243/line-full.jpg);

}

.seat-background {
  background-image: url(http://res.cloudinary.com/delisauce/image/upload/q_39/v1484180243/restaurant-full.jpg);
}

.concert-background {
  background-image: url(http://res.cloudinary.com/delisauce/image/upload/q_39/v1484180243/concert-full.jpg);
}

.task-selector-text {
  background-color: white;
  display: flex;
  justify-content: center;
}

.session-form {
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $light-gray;
  // border: solid 1px red;
  width: 600px;
  height: 400px;
  opacity: .8;
}

.session-form > label {
  display: flex;
  flex-direction: column;
  margin: 10px;
  // border: blue solid 1px;
}


button {
	background-color: $button-green;
	border-color: $button-green;
	color: white;
	font-weight: bold;
	padding: 7px 9px;
	border-radius: 3px;
	transition: background-color 0.3s;
	font-family: $sans-serif;
	text-transform: uppercase;
	font-size: 11px;
	text-align: center;
}

button:hover {
	background-color: $button-hover-green;
  border-color: $button-hover-green;
}


// BOOKING CONTAINER
.booking-container  {
  display: flex;
  background-color: $light-gray;
}

.filters-container {
  width: 30%;
  border: solid red 1px;
  display: flex;
  flex-direction: column;
}

.filters-container > label {
  margin: 10px;
}

.search-results-container {
  width: 70%;
  border: solid red 1px;
}

// Search result items
.search-result-item {
  display: flex;
  justify-content: space-between;

  margin: 10px;
  border-radius: 3px;
  border: solid black 1px;
  height: 100px;
}

.profile-img {
  width: 100px;
  border: black solid 3px;
  background-image: url(data);
  background-repeat: no-repeat;
  background-size: contain;
}

img {
  width: 100%;
  height: 100%;
}

.profile-data {
  width: auto;
}

.profile-description {
  width: 40%;
}

.instant-book {
  background-color: $instant-book;
  border-color: $instant-book;
}

.instant-book:hover {
  background-color: $instant-book-hover;
  border-color: $instant-book-hover;
}
