// BOOKING CONTAINER
.booking-container  {
  display: flex;
  flex-direction: column;
  // background-color: $light-gray;
}

.booking-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 100px;
  // text-align: center;
  // vertical-align: middle;

  background-color: $booking-header-background;
  font-size: $booking-header-font-size;

  .highlighted {
    font-size: 26px;
    font-weight: bold;
  }
}


.filter-and-search-container {
  display: flex;
  flex-direction: row;
}
