.dashboard-container {
  display: flex;
  flex-direction: column;
}

.dashboard-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
  // text-align: center;
  // vertical-align: middle;
  justify-content: center;
  align-items: center;

  background-color: $dashboard-header-background;
}
.dashboard-header-title {
  font-size: 40px;
}





.dashboard-tasks-container * {
  // border: red 1px solid;
}

.dashboard-tasks-container {
  display: flex;
  justify-content: space-between;

  .task-status-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 33.333333%;

    .task-status-header {
      width: 100%;
      height: 50px;
      background-color: $dashboard-header-background;//$task-status-header;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      margin-bottom: 5px;
    }
  }

}

.task-item.status-completed {
  background-color: $task-completed-background;
}

.task-item.status-pending {
  background-color: $task-pending-background;
}

.task-item.status-booked {
  background-color: $task-booked-background;
}

.task-item {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 10px;
  margin: 10px;
  height: 200px;
  // box-sizing: border-box;
  border: solid 1px $task-border;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888888;

  * {
    // border: red solid 1px;
    display: flex;
  }
  div[class*='-top'] {
    // display: flex;
    flex: 0 0 70px;
    flex-direction: row;
    justify-content: space-between;

  }

  div[class*='-left'] {
    // display: flex;
    // flex: 0 0 150px;
    width: 100%;
    flex-direction: column;
  }

  // div[class*='-right'] {
  //   // display: flex;
  //   flex-direction: column;
  //   width: 100%;
  //   height: auto;
  //   align-items: flex-end;
  //   // justify-content: center;
  // }

  div[class*='-bottom'] {
    display: flex;
    width: 100%;
    height: auto;
  }

  .task-button-enabled {
    background-color: $cancel-book-button;
    border-color: $cancel-book-button-border;
    width: 70px;
    height: 40px;
    align-items: center;
  }

  .task-button-enabled:hover {
    background-color: $cancel-book-button-hover;
    border-color: $cancel-book-button-border-hover;
  }

  // div[class*='-task-details'] {
  //   // width: auto;
  //   display: flex;
  //   flex-direction: column;
  //
  // }
  //
  // div[class*='-bottom'] {
  //   width: auto;
  //   display: flex;
  //   margin-left: 5px;
  //   flex-grow: 1;
  //   flex-direction: column;
  // }
}



.empty-dashboard-response {
  text-align: center;
  margin: 30px;
  color: black;
  font-weight: bold;
  font-family: $sans-serif;
  font-size: 18px;

  * {
    color: $link-color;
    text-decoration: underline;
  }
}
