// FILTERS CONTAINER
.filters-container {
  flex: 0 0 350px;
  border: solid red 1px;
  display: flex;
  margin: 0 20px;
  flex-direction: column;
  border-right: solid 1px $light-gray;
}

.filters-container > div {
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid $light-gray;
}

.checkbox-checked {
  background-image: image-url("check_box_black_18x18.png");
  width: 18px;
  height: 18px;
}

.checkbox-empty {
  background-image: image-url("check_box_outline_blank_black_18x18.png");
  width: 18px;
  height: 18px;
}
