.booking-form * {
  border: 1px red solid;
}

.booking-form {
  width: 550px;
  height: 250px;
}

.booking-form > label {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.booking-form >  div {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.booking-form > h2 {
  text-align: center;
  margin: 10px;
}
