// .booking-form * {
//   border: 1px red solid;
// }

.booking-form {
  textarea {
    width: 100%;
    height: 200px;
    resize: none;
    font-size: 16px;
    // background-color: $lightest-gray;
    // border: $form-text-area-border 1px solid;
  }

  .booking-submit-button  {
    width: 250px;
    height: 40px;
    font-size: 16px;
    margin-bottom: 5px;
    padding: 0;
  }

  .SingleDatePickerInput {
    background-color: $react-dates-color-white;
    border: 1px solid $react-dates-color-border-medium;
  }

  .form-input-error {
    border: 1px solid red;
    background-color: pink;
  }

}
