// .booking-form * {
//   border: 1px red solid;
// }


.booking-form {
  div[class*='form-header-'] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 0 0 60px;
    background-color: $form-booking-header-background;
    color: white;
    font-weight: bold;
  }

  label {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }

  textarea {
    width: 300px;
    height: 100px;
    resize: none;
    font-size: 16px;
    // border-radius: 6px;
    background-color: $lightest-gray;
    border: $form-text-area-border 1px solid;
  }

  .form-errors {
    flex: 0 0 40px;
  }

  .booking-submit-button  {
    width: 250px;
    height: 40px;
    font-size: 16px;
    margin-bottom: 5px;
    padding: 0;
  }

}
