
.header {
  // border: solid 1px blue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  box-sizing: border-box;
  width: 100%;
  padding: 0 20px;
}


.hero-image {
  height: 30px;
  width: 150px;
  margin: 15px 0 7px 0;
  background-image: image-url("sheeple_logo");
  background-size: cover;
}

.logged-out-nav {
  // border: solid 1px green;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logged-out-nav > * {
  margin: 15px;
}


// Logged In
.avatar-image {
  height: 30px;
  width: 30px;
  margin: 10px;
  background-image: url(http://res.cloudinary.com/delisauce/image/upload/c_scale,w_30/v1484809251/avatar.png);
  background-size: cover;
}


.logged-in-nav {
  // border: solid 1px green;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logged-in-nav > * {
  margin: 15px;
}

.header-user-container {
  display: flex;
  align-items: center;
}

.nav-button {
  color: $nav-link;
  transition: color 1.1s;

}

.nav-button:hover {
  color: $nav-link-hover;
}


.guest-login-button {
  width: 150px;
  height: 40px;
  font-size: 16px;

  	background-color: $guest-login-button-background;
  	border-color: $guest-login-button-background;
  	color: white;
  	font-weight: bold;
  	padding: 7px 9px;
  	border-radius: 3px;
  	transition: background-color 0.3s;
  	font-family: $sans-serif;
  	text-transform: uppercase;
  	text-align: center;
}

.guest-login-button:hover {
	background-color: $guest-login-button-background-hover;
  border-color: $guest-login-button-background-hover;
}
