
.search-results-container {
  width: 900px;
  // flex: 1 1 900px;
  // border: solid blue 2px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.slider-min-max {
  display: flex;
  justify-content: space-between;
}
.slider-min-max > div {
  display: inline;
}


// Search result items
.search-result-item {
  width: 900px;
  display: flex;
  justify-content: space-between;
  width: auto;
  padding: 10px;
  border-radius: 3px;
  // border: solid black 1px;
  height: 130px;
  box-sizing: border-box;

  border-bottom: solid 1px $light-gray;
}

.profile-img {
  width: 100px;
  // border: black solid 3px;
  background-image: url(data);
  background-repeat: no-repeat;
  background-size: contain;
}

img {
  width: 100%;
  height: 100%;
}

.profile-data {
  width: auto;
}

.profile-description {
  width: 40%;
}


.instant-book {
  background-color: $instant-book;
  border-color: $instant-book;
}

.instant-book:hover {
  background-color: $instant-book-hover;
  border-color: $instant-book-hover;
}
