
.search-results-container {
  width: 900px;
  display: flex;
  margin-right: 20px;
  flex-grow: 1;
  flex-direction: column;
}



// Search result items
.search-result-item * {
  border: red 1px solid;
}


.search-result-item {
  width: 900px;
  display: flex;
  justify-content: space-between;
  width: auto;
  padding: 10px;
  height: 130px;
  box-sizing: border-box;

  border-bottom: solid 1px $tasker-border;

  .profile-img {
    width: 100px;
    object-fit: cover;
    background-image: url(data);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .profile-data {
    width: auto;
    display: flex;
    flex-direction: column;

    .tasker-item-skill {
      background-color: $tasker-skill;
      color: white;
      border-radius: 3px;
      display: flex;
    }
  }
  .profile-description {
    width: 40%;
  }
}


.instant-book {
  background-color: $instant-book-button;
  border-color: $instant-book-button-border;
  width: 70px;
  height: 40px;
}

.instant-book:hover {
  background-color: $instant-book-button-hover;
  border-color: $instant-book-button-border-hover;
}

.normal-book {
  width: 70px;
  height: 40px;
}

.empty-search-response {
  text-align: center;
  margin: 30px;
  color: black;
  font-weight: bold;
  font-family: $sans-serif;
  font-size: 18px;
}
